.u-block-8782-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8782-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -3px);
  width: 85px;
  height: 85px;
  background-image: none;
  right: auto;
}

.u-block-8782-4 {
  position: absolute;
  width: 85px;
  height: 85px;
  background-image: none;
  left: auto;
  top: 417px;
  right: calc(((100% - 1140px) / 2)  + 3px);
}

@media (max-width: 1199px) {
  .u-block-8782-3 {
    left: calc(((100% - 940px) / 2)  + -3px);
  }

  .u-block-8782-4 {
    right: calc(((100% - 940px) / 2)  + 2px);
  }
}

@media (max-width: 991px) {
  .u-block-8782-3 {
    left: calc(((100% - 720px) / 2)  + -2px);
  }

  .u-block-8782-4 {
    right: calc(((100% - 720px) / 2)  + 2px);
  }
}

@media (max-width: 767px) {
  .u-block-8782-3 {
    left: calc(((100% - 540px) / 2)  + -1px);
  }

  .u-block-8782-4 {
    right: calc(((100% - 540px) / 2)  + 2px);
  }
}

@media (max-width: 575px) {
  .u-block-8782-3 {
    left: calc(((100% - 340px) / 2)  + -1px);
  }

  .u-block-8782-4 {
    right: calc(((100% - 340px) / 2)  + 1px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 30px 59px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1-1 .u-image-1 {
  width: 504px;
  height: 286px;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1-2 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 3.75rem;
  margin: 30px 59px 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1-2 .u-image-1 {
  width: 504px;
  height: 286px;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-3 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1-3 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-1-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 30px 59px 0;
}

.u-section-1-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1-3 .u-image-1 {
  width: 504px;
  height: 286px;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-3 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}

 .u-section-1-4 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-4 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1-4 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-1-4 .u-text-2 {
  font-size: 3.75rem;
  margin: 30px 59px 0;
}

.u-section-1-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1-4 .u-image-1 {
  width: 504px;
  height: 286px;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-1-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-4 .u-image-1 {
    width: 340px;
    height: 193px;
  }
}

 .u-section-1-5 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-5 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1-5 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 258px auto 0;
}

.u-section-1-5 .u-text-2 {
  font-size: 3.75rem;
  margin: 30px 59px 60px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-text-1 {
    font-size: 3rem;
  }
}